snippet originamiento
access_$1_grain_commercial,access_$1_grain_commercial,model_$1,raw_material_security.group_grain_commercial,1,1,1,1
access_$1_grain_external_commercial,access_$1_grain_external_commercial,model_$1,raw_material_security.group_grain_external_commercial,1,1,1,1
access_$1_grain_full_external_commercial,access_$1_grain_full_external_commercial,model_$1,raw_material_security.group_grain_full_external_commercial,1,1,1,1
access_$1_grain_external_technical,access_$1_grain_external_technical,model_$1,raw_material_security.group_grain_external_technical,1,1,1,1
endsnippet
